<h1><center><font color="#08088A"><font face="BlairMdITC TT"><font size="8">Welcome to Tiger's Eye</font></font></center></h1>
<img src="http://www.hdwallpapersin.com/files/submissions/Tiger_Eyes_Ii_211477893.jpg" class="img-rounded logo center-block">

<p><font color="#190707"><font size="4">
	<center>It's time to take your career into your own hands!</center>
</p>
<p>
	<center>Within the <b>Goals</b> features, use the <b>New Goal</b> feature to add career goals and use the <b>Goal Index</b> feature to view these goals and track your progress towards achieving them.</center>
</p>
<p>
	<center>Within the <b>Connections</b> features, use the <b>Connections Index</b> to maintain notes on all of your LinkedIn connections.</center></font>
</p>

<br><br>

<p style="text-align:left;"><u><b>Goals</b></u><span style="float:right;"><u><b>Connections</b></u></span></p>
		
<p style="text-align:left;"><%= link_to "Goal Index", goals_path %><span style="float:right;"><%= link_to "Connections Index", user_connection_path(current_user) %></p>

<p style="text-align:left;"><%= link_to "New Goal", new_goal_path %></p>
		
