<h1><center>Welcome to Ignition!</center></h1>
<p><u><b>Goals</b></u></p>
<p><%= link_to "Goal Index", goals_path %></p> 
<p><%= link_to "New Goal", new_goal_path %></p>
<P ALIGN="right"><u><b>Connections</b></u></right></P>
<P ALIGN="right">Connections Index</right></P>
<P ALIGN="right">New Connection</right></P>



