<h1><center>Welcome to Tiger's Eye!</center></h1>
<img src="http://www.hdwallpapersin.com/files/submissions/Tiger_Eyes_Ii_211477893.jpg" class="img-rounded logo center-block">
<p><u><b>Goals</b></u></p>
<p><%= link_to "Goal Index", goals_path %></p> 
<p><%= link_to "New Goal", new_goal_path %></p>
<P ALIGN="right"><u><b>Connections</b></u></right></P>
<P ALIGN="right"> <%= link_to "Connections Index", user_connection_path(current_user) %></right></P>




