<h1><font color="#08088A"><font face="BlairMdITC TT">Tiger's Eye</font><h1>
<h4><font color="#190707">
	<i>
		<p>"It's the eye of the tiger, it's the cream of the fight,</p>
		<p>Rising up to the challenge of our rivals,</p>
		<p>And the last known survivor stalks his prey in the night,</p>
		<p>And he's watching us all with the eye of the tiger."</p>
	<blockquote>Survivor (<u>Rocky</u> Soundtrack)</blockquote></i>

<font face="Cambria"><p>As these lyrics advise, <u><b>you</b></u> must rise up to the challenge of planning <u><b>your</u></b> own career. Congratulations on proactively taking the first step with Tiger's Eye, a premium career management system. Let's get started!</p></font>

<br><br>

<p><%= render "devise/shared/links" %></p>

