<h1><b><font color="#08088A"><font face="BlairMdITC TT"><font size="7">New Goal</font></font></font></b></h1>

<%= render 'goalform' %>

<button type="button" class="btn btn-default">
<%= link_to "Home", root_path %>
</button>

